.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__titulo {
    color: var(--letra-logo);
    font-weight: 500;
    font-size: 18px;
    margin-left: .5rem;
}

.cabecalho__lista {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

.cabecalho__item {
    margin-left: 1rem;
}

.cabecalho__link {
    color: var(--letra);
    font-weight: 500;
    text-decoration: none;
}

.cabecalho__link--cadastro {
    background-color: var(--cor-secundaria);
    color: var(--letra-botao);
    padding: .5rem;
    border-radius: 10px;
}