.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.vagas__titulo {
    color: var(--cor-titulos);
    margin: 3rem 0 2rem 0;
    font-size: 20px;
    font-weight: 500;
}

.vagas__caixa {
    width: 48rem;
    border: 2px solid var(--cor-borda);
    border-radius: 15px;
    padding: 2rem;
    margin-top: 1rem;
}

.vagas__subtitulo {
    color: var(--cor-titulos);
    font-size: 18px;
    font-weight: 500;
}

.vagas__conteudo {
    display: flex;
    margin-top: 2rem;
}

.vagas__texto {
    font-weight: 500;
    margin-left: 1rem;
}